
<h1>Planifica tu viaje a {{{thePlace.destination}}}</h1>

<div class="container">
    <div class="row">

        <div class="list-group col-6 ">
            <form action="/place/marker/edit/{{thePlace.id}}" method="POST">
                <ul>
                    <li>
                        <input id="searchInput" class="controls" type="text" name="pointsInt" placeholder="Primera parada">
                    </li><br>
                    {{!-- <li>
                        <input type="text" name="pointsInt" placeholder="Segunda parada">
                    </li><br>
                    <li>
                        <input type="text" name="pointsInt" placeholder="Tercera parada">
                    </li><br> --}}
                </ul>
                <input type="submit" value="Guardar Viaje">
               
        </div>
        <h2>Sitios a visitar:</h2>
        
        <ul>
            {{#each thePoints}}
            <li><a href="/point/details/edit/{{id}}">{{name}}
            <a href="/point/details/delete/{{id}}"><img src="/images/58326.png" width="20px"> </a></li>
            {{/each}}
        </ul>
      
{{!-- ///////////Entrada de búsqueda  --}}
 

        {{!-- <! - Mapa de Google -> --}}
            <div id="map" class="{{thePlace.destination}}" data-points="{{#each thePoints}}{{name}}/{{/each}}"> </div>

            {{!-- <! - Mostrar datos de geolocalización -> --}}
           
<a href="/place/collections">Back</a>
    </div>

</div>
</form>

